.card {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: 1rem;
}

.company_title {
    margin-left: 10px;
    font-weight: bold;
    color: black;
}

.pay-btn {
    display: flex;
    flex-direction: row-reverse;
}