<div class="container">
    <form class="form-group" [formGroup]="addScheduleForm" (ngSubmit)="addSchedule()">
        <div class="row">
            <mat-form-field>
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="startDate">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="row date">
            <div class="picker_group">
                <label class="date-label" for="startTime">Start Time</label>
                <timepicker id="startTime" formControlName="startTime" [showMeridian]="false" [minuteStep]="1">
                </timepicker>
            </div>
            <div class="picker_group">
                <label class="date-label" for="endTime">End Time</label>
                <timepicker id="endTime" formControlName="endTime" [showMeridian]="false" [minuteStep]="1">
                </timepicker>
            </div>
        </div>

        <div class="row">
            <mat-form-field>
                <mat-label>Select Bus</mat-label>
                <mat-select>
                    <mat-option value="one">First option</mat-option>
                    <mat-option value="two">Second option</mat-option>
                </mat-select>
            </mat-form-field>

        </div>

        <div class="green">
            <input type="submit" value="Create Schedule" class="btn btn-outline-success">
        </div>
    </form>
</div>