<div class="container">
    <form class="form-group" [formGroup]="changeProfileForm" (ngSubmit)="changeProfile()">
        <div class="row">
            <input type="text" name="username" id="username" class="form__input" placeholder="Username"
                formControlName="username">
        </div>
        <div class="row">
            <input type="password" name="password" id="password" class="form__input"
                placeholder="Password" formControlName="password">
        </div>
        <div class="row">
            <input type="password" name="confirmPassword" id="confirmPassword" class="form__input"
                placeholder="Confirm Password" formControlName="confirmPassword">
        </div>
        <div class="row">
            <input type="text" name="phoneNumber" id="phoneNumber" class="form__input"
                placeholder="Phone Number" formControlName="phoneNumber" maxlength="12">
            <div *ngIf="getControl('phoneNumber')?.errors && getControl('phoneNumber')?.touched">
                <span class="text-danger" *ngIf="getControl('phoneNumber')?.errors?.['pattern']">*Phone
                    number must be a number</span>
            </div>
        </div>

        <div class="row">
            <textarea type="text" name="address" id="address" class="form__input"
                placeholder="Enter your address" formControlName="address"></textarea>
        </div>
        <div class="green">
            <input type="submit" value="Save Change"
                [ngClass]="{'disable-btn' : changeProfileForm.status === 'INVALID', 'btn': changeProfileForm.status != 'INVALID'}">
        </div>
    </form>
</div>